.experience-item.right {
	float: right;
}

.experience .container {
	@media(min-width:786px) {
		width: 80%;
	} 
	@media(max-width:1200px) and (min-width:992px) {
		width: 90%;
	}
}

.experience-img {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	margin-top: 15px;
	margin-left: -25px;
	text-align: center;
	display: table;
	span {
		font-size: 25px;
		display: table-cell;
		vertical-align: middle;
	}

	@media(max-width:768px) {
		left: 10vw;
		width: 40px;
		height: 40px;
		span {
			font-size: 20px;
		}
	}
	@media(min-width:768px) {
		left: calc(30% - 150px);
		width: 40px;
		height: 40px;
		span {
			font-size: 20px;
		}
	}
	@media(min-width:992px) {
		left:50%;
		width: 50px;
		height: 50px;
		span {
			font-size: 30px;
		}
	}
}

.experience-content {
	margin-bottom: 30px;
	position: relative;
	padding: 10px 30px 30px 30px;
	@media(max-width:420px) {
		padding: 10px 15px 15px 20px;
	}
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		left:-15px;
		border-width: 10px 15px 10px 0;
		border-color: transparent #f5f5f5 transparent transparent;
	}
}

.row {
	&:first-child {
		margin-top: 0px;
	}

	&:nth-child(odd) {
		.experience-item {
			right: -3%;
			left: auto !important;
			@media(max-width:992px) {
				left: -3% !important;
				right: 0 !important;
			}		
			.experience-content {
				padding: 10px 30px;
				@media(max-width:420px) {
					padding: 10px 15px 15px 20px;
				}
				@media(min-width:992px) {
				left: 0;
				&::after {
					content: '';
					position: absolute;
					border-style: solid;
					width: 0;
					height: 0;
					top: 30px;
					left: 100%;		
					right: -15px;		
					border-width: 10px 0 10px 15px;
					border-color: transparent transparent transparent #f5f5f5;
					}
				}
			}
		}
	}
}

.experience .container .row .experience-item {
	left: -3%;
	@media(max-width:992px) {
		float: right;
	}

	@media(max-width:768px) {
		width: 80%;
	}
}


.experience-content blockquote,
.experience-content p {
	margin-top: 10px;
	border-left-color: #ddd;
	padding: 0 20px;
	font-size: 1em;
	@media(max-width:768px) {
		font-size: 1em;
		padding: 0;
	}
	@media(max-width:420px) {
		font-size: 0.9em;		
	}
	@media(min-width:768px) {
		font-size: 1.1em;
	}
	@media(min-width:1200px) {
		font-size: 1.2vw;
	}
}

.experience-content p {
	display: none;
}

@media(max-width:768px) {
	.experience-content blockquote {
		display: none;
	}
	.experience-content p {
		display: block;
	}
}

.experience-content i {
	color: #777;
	@media(max-width:560px) {
		font-size: 0.9em;
		&.area {
			display: none;
		}
	}
	@media(min-width:420px) {
		font-size: 1em;
	}
	@media(min-width:760px) {
		font-size: 0.95em;
		padding-bottom: 10px;
	}
}

.experience-content>h2 {
	@media(max-width:420px) {
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 4px;
	}
	@media(min-width:420px) {
		margin-top: 15px;
		margin-bottom: 6px;
		font-size: 25px;
	}
	@media(min-width:960px) {
		font-size: 30px;
	}
}

.experience {
	position: relative;
	&.container div {
		margin-bottom: 30px;
	}
	&::before {
		content: '';
		background: #fff;
		width: 7px;
		height: 90%;
		top: 250px;
		position: absolute;
		transform: translateX(-50%);
		@media(max-width:768px) {
			left: calc(10vw - 5px);
			top: 270px;			
		}
		@media(max-width:420px) {
			top: 220px;
		}
		@media(min-width:768px) {
			left: calc(30% - 155px);
			top: 270px;
		}
		@media(min-width:992px) {
			left:50%;
		}
	}
}