nav.navbar.navbar-default {
	border: 0;
	position: fixed;
	right: 2%;
	top: 60px;
	float: right;
	z-index: 999;
	min-height: 30px;
}

.navbar-fixed-right {
	border: 0px;
	padding: 0;
}

ul.nav {
	display: table;
	width: 100%;
}

.navbar-default .navbar-brand {
	// font-family:  'Open Sans', sans-serif; // !important;
}

.navbar-default .navbar-toggle {
	background-color: #eee;
	border-color: #ccc;
	margin: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #22A39F;
}

.nav>li.nav-item {
	position: relative;
	display: block;
	float: none;
	text-align: center;
	width: 100%;
}

.navbar-default .nav-item>.nav-link {
	text-transform: uppercase;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	width: 100%;
	height: 100%;
	font-weight: 600;
	padding: 30px 15px;
	color: #ddd;
	letter-spacing: 0px;
}

.navbar-default .nav-item>.nav-link:hover,
.navbar-default .nav-item>.nav-link:focus {
	outline: 0;
	color: #22A39F;
}

.navbar-default .nav-item>.active {
	border-radius: 0;
	color: #fff;
	background-color: #22A39F;
}

.navbar-default .nav-item>.active:hover,
.navbar-default .nav-item>.active:focus {
	color: #fff;
	background-color: #32B3AF;
}

@media(min-width:768px) {
	.navbar-default {
		padding: 25px 0;
		border: 0;
		background-color: #222;
		-webkit-transition: padding .3s;
		-moz-transition: padding .3s;
		transition: padding .3s;
	}

	.navbar-default .navbar-brand {
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		transition: all .3s;
	}

	.navbar-default.navbar-shrink {
		border: 0;
		padding: 0;
		background-color: #222;
		position: fixed;
	}
}

@media(max-width:768px) {
	.nav>li.nav-item {
		float: left;
		width: 20%;
	}
	.navbar-default.navbar-shrink {
		border: 0;
		padding: 0;
		background-color: #222;
		position: fixed;
	}
	nav.navbar.navbar-default {
		right: 0;
		left: 0;
		top: 0;
		min-height: 0;
	}
	.navbar-default .nav-item>.nav-link {
		font-size: 0.7em;
		padding: 7px 0;
		font-family:  'Open Sans', sans-serif;
	}
	.nav.navbar-nav {
    margin: 0;
	}
}