#contacts {
  min-height: 100vh; }

.contact-link {
  text-align: center; }
  @media (max-width: 420px) {
    .contact-link {
      padding: 0 16px; } }
  @media (min-width: 768px) {
    .contact-link {
      margin-top: -30px; } }

.contact-link h3 a {
  display: inline !important;
  padding-left: 0.3em; }

.contact-link div img {
  border-radius: 2%; }
  @media (max-width: 768px) {
    .contact-link div img {
      width: 80vw; } }
  @media (min-width: 768px) {
    .contact-link div img {
      width: 60vw; } }
  @media (min-width: 992px) {
    .contact-link div img {
      width: 55vw; } }
  @media (min-width: 1200px) {
    .contact-link div img {
      width: 50vw; } }

.contact-link .__react_component_tooltip.show {
  opacity: 1;
  border-radius: 3%;
  padding: 8px; }
  @media (max-width: 768px) {
    .contact-link .__react_component_tooltip.show {
      left: 8vw !important;
      top: calc(250px - 30vw) !important; } }
  @media (min-width: 768px) {
    .contact-link .__react_component_tooltip.show {
      left: 19vw !important;
      top: 6vw !important; } }
  @media (min-width: 992px) {
    .contact-link .__react_component_tooltip.show {
      left: 21vw !important;
      top: 3vw !important; } }
  @media (min-width: 1200px) {
    .contact-link .__react_component_tooltip.show {
      left: 24vw !important;
      top: 2vw !important; } }

.__react_component_tooltip:before,
.__react_component_tooltip:after {
  display: none; }

ul.social-buttons {
  margin: 50px 0;
  font-size: 4em; }

ul.social-buttons li {
  margin: 0 30px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  font-size: 40px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #555;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  text-align: center;
  display: inline-table; }

ul.social-buttons li img {
  width: 60px;
  height: 60px;
  padding-top: 7px; }

ul.social-buttons li:hover img {
  -webkit-filter: invert(100%);
  opacity: 0.7; }

ul.social-buttons li span,
ul.social-buttons li img {
  display: table-cell;
  vertical-align: middle; }

ul.social-buttons li:hover {
  color: #333;
  background-color: #bbb; }

ul.social-buttons > li > a,
ul.social-buttons > li > a:link,
ul.social-buttons > li > a:visited,
ul.social-buttons > li > a:hover,
ul.social-buttons > li > a:focus {
  display: table-row;
  color: inherit;
  text-decoration: none !important; }
