.row .dev-wrapper {
  display: block;
  margin-bottom: 50px; }
  .row .dev-wrapper ul {
    padding: 0 5% 0 0; }
  .row .dev-wrapper .dev-item {
    display: inline-block;
    border: 2px solid rgba(170, 170, 170, 0.5);
    border-radius: 50%;
    text-align: center;
    margin: 10px 2.5vw;
    padding: 0px;
    width: 60px;
    height: 60px;
    line-height: 7;
    font-size: 11px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s; }
    .row .dev-wrapper .dev-item div {
      width: 60px;
      height: 60px;
      position: absolute; }
      .row .dev-wrapper .dev-item div img {
        width: 72%;
        height: 72%; }
      .row .dev-wrapper .dev-item div span {
        color: #fff;
        font-size: 1em;
        position: relative;
        top: -40px;
        opacity: 0;
        font-weight: bold; }
      .row .dev-wrapper .dev-item div span.small {
        font-size: 0.8em; }
    @media (max-width: 768px) {
      .row .dev-wrapper .dev-item {
        width: 70px;
        height: 70px;
        margin: 5px 1.7vw;
        line-height: 6; }
        .row .dev-wrapper .dev-item div {
          width: 70px;
          height: 70px; }
          .row .dev-wrapper .dev-item div img {
            width: 72%;
            height: 72%; }
          .row .dev-wrapper .dev-item div span {
            top: -13px;
            font-size: 1.4em; }
          .row .dev-wrapper .dev-item div span.small {
            top: 0;
            font-size: 1em; } }
    @media (min-width: 768px) {
      .row .dev-wrapper .dev-item {
        width: 80px;
        height: 80px;
        margin: 5px 1vw;
        line-height: 7; }
        .row .dev-wrapper .dev-item div {
          width: 80px;
          height: 80px; }
          .row .dev-wrapper .dev-item div img {
            width: 72%;
            height: 72%; }
          .row .dev-wrapper .dev-item div span {
            top: -20px;
            font-size: 1.5em; }
          .row .dev-wrapper .dev-item div span.small {
            top: -5px;
            font-size: 1.1em; } }

.skills-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5vw;
  margin: 0 0 30px 10px; }
  @media (max-width: 420px) {
    .skills-heading {
      font-size: 1.1em; } }
  @media (min-width: 420px) {
    .skills-heading {
      font-size: 1.3em; } }
  @media (min-width: 768px) {
    .skills-heading {
      font-size: 1.5em; } }
  @media (min-width: 992px) {
    .skills-heading {
      font-size: 1.8em; } }
  .skills-heading .fa {
    font-size: 1.3em;
    margin-right: 10px; }

.dev-item:hover,
.dev-item:active {
  background-color: #777; }
  .dev-item:hover div img,
  .dev-item:active div img {
    opacity: 0.2; }

.dev-item:hover div span,
.dev-item:active div span {
  opacity: 1 !important; }

@media (max-width: 1200px) {
  .skills .container {
    width: 100%; } }

@media (max-width: 768px) {
  .skills .section-wrapper {
    padding: 0 15%; } }

@media (max-width: 500px) {
  .skills .section-wrapper {
    padding: 0 5%; } }

ul.table {
  padding: 0 15% 0 0;
  text-align: center;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4; }
  @media (max-width: 768px) {
    ul.table {
      padding: 0; } }

.design-wrapper {
  width: 100%;
  min-height: 200px; }
  .design-wrapper .design-item .item-img {
    height: 20px;
    filter: grayscale(100%); }

.design-wrapper > ul {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  padding-left: 3vw; }
  .design-wrapper > ul div {
    font-size: 1.1em; }
  @media (max-width: 768px) {
    .design-wrapper > ul {
      font-size: 0.9em; } }

.design-item > span {
  font-size: 0.7em;
  margin-right: 10px; }

@media (min-width: 768px) and (max-width: 992px) {
  .design-flex-item {
    left: 16.7%; } }
